{% extends 'base.html' %}
{% block content %}

<div style="height:20rem; background-color:#38df81; border-radius:1rem; margin:2rem;">
  <h1 style="font-family:'lobster', cursive;">
    hello world list
  </h1>


  <form action="/account/hello_world/" method="post">
<!--    장고에서 발행하는 토큰 - 보안 처리-->
    {% csrf_token %}

      <div>
        <input type="text" name="user_name">
        <input type="text" name="user_email">
        <input type="text" name="user_password">
      </div>

      <input type="submit" class="btn btn-primary" value="POST">
  </form>

    {% if new_user_list %}
        {% for new_user in new_user_list %}
        <h4>
            {{ new_user.name }}
            {{ new_user.email }}
        </h4>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}